---
layout: post-index
permalink: /posts/
title: All Posts
description: "An archive of posts."
image: 
  feature: abstract-10.jpg
---
<article>
{% for post in site.posts %}
    {% capture this_month %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    
      <h2 id="{{ this_month }}-ref">{{ this_month }}</h2>
      <ol type="none">
    {% endif %}

        <li class="entry-title">
        <div class="pull-left">
        <emph> 
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div> 
        </emph> 
        <div class='pull-right'>
        <i>
        <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d" }}</time></span> </i></div>
        <br><hr>
        </li>

    {% if forloop.last %}
      </ol>
    {% else %}
        {% if this_month != next_month %}
          </ol>
        
        
          <h2 id="{{ next_month }}-ref">{{next_month}}</h2>
          <ol type="none">
        {% endif %}
    {% endif %}
    
{% endfor %}
</article>